@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  justify-content: center;
  align-items: center;
}

.wrapper .header {
  justify-content: center;
  align-items: center;
  display: flex;
  background: url(https://images.unsplash.com/photo-1569629743817-70d8db6c323b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1374&q=80) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.wrapper .header .top {
  font-size: 15px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.wrapper .header .top .top__line1 {
  display: inline-block;
  font-size: 60px;
  width: 100%;
  text-transform: uppercase;
}

.wrapper .header .top .top__line2 {
  display: inline-block;
  color: red;
  width: 100%;
  font-size: 20px;
}

.wrapper .header .top .top__line3 {
  display: inline-block;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.wrapper .header .top .top__line3 .clock {
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.wrapper .header .top .top__line3 .clock .days {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .top__line3 .clock .hours {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .top__line3 .clock .minutes {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .top__line3 .clock .seconds {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .subscribeForm {
  width: 100%;
}

.wrapper .header .top .subscribeForm .emailLine {
  width: 50%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid red;
  background: transparent;
  color: red;
  font-size: 20px;
}

.wrapper .header .top .subscribeForm .emailLine focus::placeholder {
  color: transparent;
}

.wrapper .header .top .subscribeForm .subscribeButton {
  border-radius: 5%;
  background-color: red;
  width: 20%;
  height: 30px;
}

.wrapper .main {
  display: inline-block;
  font-size: 30px;
  width: 100%;
  height: 100vh;
  font-size: 20px;
  color: gray;
}

.wrapper .main .column1 {
  float: left;
  width: 50%;
  height: 100%;
  padding: 5% 10% 5% 10%;
}

.wrapper .main .heading {
  padding-bottom: 10%;
}

.wrapper .main .parag {
  padding-bottom: 10%;
}

.wrapper .column2 {
  float: left;
  width: 50%;
  height: 100%;
  padding: 5% 10% 5% 10%;
}

.footer {
  display: inline-block;
  font-size: 30px;
  width: 100%;
  height: 50vh;
  background-color: #7affb6;
}

::placeholder {
  color: red;
  opacity: 1;
}

input:focus::placeholder {
  color: transparent;
}

@media only screen and (max-width: 550px) {
  .wrapper .header .top .top__line3 .clock {
    justify-content: flex-start;
    align-items: stretch;
  }
  .wrapper .header .top .top__line3 .clock .days {
    width: 100%;
    padding: 1% 0 1% 0;
  }
  .wrapper .header .top .top__line3 .clock .hours {
    width: 100%;
    padding: 1% 0 1% 0;
  }
  .wrapper .header .top .top__line3 .clock .minutes {
    width: 100%;
    padding: 1% 0 1% 0;
  }
  .wrapper .header .top .top__line3 .clock .seconds {
    width: 100%;
    padding: 1% 0 1% 0;
  }
}
