* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.wrapper .header {
  justify-content: center;
  align-items: center;
  display: flex;
  background: url(../img/cover.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.wrapper .header .top {
  font-size: 29px;
  text-align: center;
  width: 80%;
}

@media (max-width: 700px) {
  .wrapper .header .top {
    font-size: 20px;
  }
}

.wrapper .header .top .image__line {
  width: 100%;
  max-width: 100px;
  margin-left: calc(50%-100px);
}

.wrapper .header .top .top__line1 {
  display: inline-block;
  font-size: 2em;
  width: 100%;
  text-transform: uppercase;
}

.wrapper .header .top .top__line2 {
  display: inline-block;
  color: white;
  width: 100%;
  font-size: 20px;
}

.wrapper .header .top .top__line3 {
  display: inline-block;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.wrapper .header .top .top__line3 .clock {
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-family: "Roboto Slab", serif;
}

.wrapper .header .top .top__line3 .clock .days {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .top__line3 .clock .hours {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .top__line3 .clock .minutes {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .top__line3 .clock .seconds {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .subscribeForm {
  width: 100%;
}

.wrapper .header .top .subscribeForm .emailLine {
  width: 50%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 20px;
}

.wrapper .header .top .subscribeForm ::placeholder {
  color: white;
  opacity: 1;
}

.wrapper .header .top .subscribeForm .subscribeButton {
  border-radius: 5%;
  background-color: white;
  width: 20%;
  height: 30px;
}

.wrapper .header .top .subscribeForm .subscribeButton:hover {
  opacity: 0.7;
}

.wrapper .main {
  display: inline-block;
  font-size: 30px;
  width: 100%;
  height: 100vh;
  font-size: 20px;
  color: gray;
}

.wrapper .main .column1 {
  float: left;
  width: 50%;
  height: 100%;
  padding: 7% 7% 7% 7%;
}

.wrapper .main .heading {
  padding-bottom: 10%;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper .main .parag {
  padding-bottom: 10%;
}

.wrapper .main .column2 {
  float: left;
  width: 50%;
  height: 100%;
  padding: 7% 7% 7% 7%;
}

.wrapper .main .column2 .fform .line1 {
  width: 100%;
  float: left;
  font-size: 20px;
  padding: 0px 0px 10px 0px;
}

.wrapper .main .column2 .fform .line1 .line1__input1 {
  border-bottom: 2px solid blue;
  width: 48%;
  float: left;
  background-color: transparent;
}

@media (max-width: 700px) {
  .wrapper .main .column2 .fform .line1 .line1__input1 {
    width: 100%;
  }
}

.wrapper .main .column2 .fform .line1 .line1__input2 {
  border-bottom: 2px solid blue;
  width: 48%;
  float: right;
  background-color: transparent;
}

@media (max-width: 700px) {
  .wrapper .main .column2 .fform .line1 .line1__input2 {
    width: 100%;
    padding-top: 15px;
  }
}

.wrapper .main .column2 .fform .line2 {
  width: 100%;
  float: left;
  font-size: 20px;
  padding: 0px 0px 10px 0px;
}

.wrapper .main .column2 .fform .line2 .line2__input {
  border-bottom: 2px solid blue;
  width: 100%;
  float: left;
  background-color: transparent;
}

.wrapper .main .column2 .fform .line2 .line2__input textarea {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  max-width: 100%;
}

.wrapper .main .column2 .fform .submitButton {
  width: 50%;
  float: right;
  border-radius: 5%;
  background-color: blue;
  color: white;
  height: 30px;
  margin-top: 10px;
}

.wrapper .main .column2 .fform .submitButton:hover {
  opacity: 0.7;
}

.footer {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
  width: 100%;
  height: 70vh;
  background: linear-gradient(180deg, white 0%, #0041d6 91%);
}

.footer .footer__container {
  width: 80%;
}

.footer .footer__container .container__logo {
  width: 100%;
}

.footer .footer__container .container__logo .logo__bottom {
  width: 100%;
  max-width: 100px;
  margin-left: calc(50%-100px);
}

.footer .footer__container .container__copyright {
  color: black;
  font-size: 15px;
  width: 100%;
}

.footer .footer__container .container__social {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .wrapper .main {
    height: 200vh;
  }
  .wrapper .main .column1 {
    width: 100%;
    height: 50%;
  }
  .wrapper .main .column2 {
    width: 100%;
    height: 50%;
  }
  .wrapper .header .top .top__line3 .clock {
    justify-content: flex-start;
    align-items: stretch;
  }
  .wrapper .header .top .top__line3 .clock .days {
    width: 100%;
    padding: 1% 0 1% 0;
  }
  .wrapper .header .top .top__line3 .clock .hours {
    width: 100%;
    padding: 1% 0 1% 0;
  }
  .wrapper .header .top .top__line3 .clock .minutes {
    width: 100%;
    padding: 1% 0 1% 0;
  }
  .wrapper .header .top .top__line3 .clock .seconds {
    width: 100%;
    padding: 1% 0 1% 0;
  }
}

.toTop {
  position: sticky;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: blue;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 2px;
  /* Some padding */
  border-radius: 20px;
  /* Rounded corners */
  font-size: 20px;
  /* Increase font size */
  height: auto;
  float: right;
}

.toTop:hover {
  opacity: 0.7;
}

.container__social {
  width: 100%;
}

.container__social .fa {
  padding: 20px;
  font-size: 20px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.container__social .fa:hover {
  opacity: 0.7;
}

.container__social .fa-facebook {
  color: white;
}

.container__social .fa-twitter {
  color: white;
}

.container__social .fa-google {
  color: white;
}

.container__social .fa-linkedin {
  color: white;
}

.container__social .fa-youtube {
  color: white;
}

.container__social .fa-instagram {
  color: white;
}

.container__social .fa-pinterest {
  color: white;
}

.container__social .fa-snapchat-ghost {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container__social .fa-skype {
  color: white;
}

.container__social .fa-android {
  background: #a4c639;
  color: white;
}

.container__social .fa-dribbble {
  background: #ea4c89;
  color: white;
}

.container__social .fa-vimeo {
  background: #45bbff;
  color: white;
}

.container__social .fa-tumblr {
  background: #2c4762;
  color: white;
}

.container__social .fa-vine {
  background: #00b489;
  color: white;
}

.container__social .fa-foursquare {
  background: #45bbff;
  color: white;
}

.container__social .fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.container__social .fa-flickr {
  background: #f40083;
  color: white;
}

.container__social .fa-yahoo {
  background: #430297;
  color: white;
}

.container__social .fa-soundcloud {
  background: #ff5500;
  color: white;
}

.container__social .fa-reddit {
  background: #ff5700;
  color: white;
}

.container__social .fa-rss {
  background: #ff6600;
  color: white;
}

.moving-mouse-holder {
  margin: auto;
  margin-top: 5px;
  width: 100%;
  justify-content: center;
  display: flex;
}

.moving-mouse-holder .mouse {
  width: 26px;
  height: 40px;
  position: relative;
  right: 0;
  border-radius: 18px;
  border: 2px solid #000000;
}

.moving-mouse-holder .mouse-button {
  background-color: #000000;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 1s infinite alternate;
}

.moving-mouse-holder .text {
  margin-top: -30px;
  margin-left: 40px;
  color: #33cc66;
  font-size: 12px;
  line-height: 1em;
}

@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}
