* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.wrapper .nav {
  color: black;
  background-color: gray;
}

@media (max-width: 700px) {
  .wrapper .nav {
    display: none;
  }
}

.wrapper .nav .meniu {
  margin: 5px 5px 5px 5px;
}

.wrapper .burger_container {
  width: 100%;
  display: none;
  background-color: gray;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .wrapper .burger_container {
    display: block;
    text-align: right;
  }
}

.wrapper .burger_container .burger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 1px 10px 1px;
  margin-left: 80%;
  display: none;
}

@media (max-width: 700px) {
  .wrapper .burger_container .burger {
    display: inline-block;
  }
}

.wrapper .header {
  justify-content: center;
  align-items: center;
  display: flex;
  background: url(../img/cover.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.wrapper .header .top {
  font-size: 29px;
  text-align: center;
  width: 80%;
}

@media (max-width: 700px) {
  .wrapper .header .top {
    font-size: 20px;
  }
}

.wrapper .header .top .image__line {
  width: 100%;
  max-width: 65px;
  margin-left: calc(50%-100px);
}

.wrapper .header .top .top__line1 {
  display: inline-block;
  font-size: 2em;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .header .top .top__line2 {
  display: inline-block;
  color: white;
  width: 100%;
  font-size: 20px;
  text-transform: initial;
}

.wrapper .header .top .top__line3 {
  display: inline-block;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.wrapper .header .top .top__line3 .clock {
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-family: "Roboto Slab", serif;
}

.wrapper .header .top .top__line3 .clock .days {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .top__line3 .clock .hours {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .top__line3 .clock .minutes {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .top__line3 .clock .seconds {
  width: 20%;
  display: inline-block;
}

.wrapper .header .top .subscribeForm {
  width: 100%;
}

.wrapper .header .top .subscribeForm .emailLine {
  width: 50%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 700px) {
  .wrapper .header .top .subscribeForm .emailLine {
    width: 80%;
  }
}

.wrapper .header .top .subscribeForm ::placeholder {
  color: white;
  opacity: 1;
}

.wrapper .header .top .subscribeForm .subscribeButton {
  border-radius: 5%;
  background-color: white;
  width: 20%;
  height: 30px;
  box-shadow: 0 0 5px #333;
}

@media (max-width: 700px) {
  .wrapper .header .top .subscribeForm .subscribeButton {
    width: 60%;
  }
}

.wrapper .header .top .subscribeForm .subscribeButton:hover {
  opacity: 0.7;
}

.wrapper .header .top .moving-mouse-holder {
  margin: auto;
  margin-top: 60px;
  width: 26px;
  align-items: center;
  text-align: center;
  display: flex;
  margin-left: calc(50%-13px);
}

.wrapper .header .top .moving-mouse-holder .mouse {
  width: 26px;
  height: 40px;
  position: relative;
  right: 0;
  border-radius: 18px;
  border: 2px solid #000000;
}

.wrapper .header .top .moving-mouse-holder .mouse-button {
  background-color: #000000;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 1s infinite alternate;
}

@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}

.wrapper .main {
  display: inline-block;
  font-size: 30px;
  align-items: center;
  width: 98%;
  margin: 1% 1% 1% 1%;
  height: 100vh;
  font-size: 20px;
  color: gray;
  /* INDIVIDUAL BAR'S STYLING, SAME GOES WITH OTHER BARS */
  /* HERE'S ONE WITH GRADIENT WHICH LOOKS SUPER COOL */
}

.wrapper .main .column1 {
  float: left;
  width: 50%;
  height: 100%;
  padding: 7% 7% 7% 7%;
}

.wrapper .main .heading {
  padding-bottom: 10%;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper .main .parag {
  padding-bottom: 10%;
}

.wrapper .main .barName {
  padding-bottom: 10%;
  margin-top: 5px;
}

.wrapper .main .bar-holder {
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 0 auto;
}

.wrapper .main .bar-1 {
  width: 99%;
  background-color: blue;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.wrapper .main .bar-2 {
  width: 40%;
  background-color: blue;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.wrapper .main .bar-3 {
  width: 60%;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: blue;
}

.wrapper .main .column2 {
  float: left;
  width: 50%;
  height: 100%;
  padding: 7% 7% 7% 7%;
}

.wrapper .main .column2 .fform .line1 {
  width: 100%;
  float: left;
  font-size: 20px;
  padding: 0px 0px 10px 0px;
}

.wrapper .main .column2 .fform .line1 .line1__input1 {
  border-bottom: 2px solid blue;
  width: 48%;
  float: left;
  background-color: transparent;
}

@media (max-width: 700px) {
  .wrapper .main .column2 .fform .line1 .line1__input1 {
    width: 100%;
  }
}

.wrapper .main .column2 .fform .line1 .line1__input2 {
  border-bottom: 2px solid blue;
  width: 48%;
  float: right;
  background-color: transparent;
}

@media (max-width: 700px) {
  .wrapper .main .column2 .fform .line1 .line1__input2 {
    width: 100%;
    padding-top: 15px;
  }
}

.wrapper .main .column2 .fform .line2 {
  width: 100%;
  float: left;
  font-size: 20px;
  padding: 0px 0px 10px 0px;
}

.wrapper .main .column2 .fform .line2 .line2__input {
  border-bottom: 2px solid blue;
  width: 100%;
  float: left;
  background-color: transparent;
}

.wrapper .main .column2 .fform .line2 .line2__input textarea {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  max-width: 100%;
}

.wrapper .main .column2 .fform .submitButton {
  width: 50%;
  float: right;
  border-radius: 5%;
  background-color: blue;
  color: white;
  height: 30px;
  margin-top: 10px;
  box-shadow: 0 0 5px #333;
}

.wrapper .main .column2 .fform .submitButton:hover {
  opacity: 0.7;
}

.footer {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
  width: 100%;
  height: 250px;
  background: linear-gradient(180deg, white 0%, #0041d6 91%);
}

.footer .footer__container {
  width: 80%;
}

.footer .footer__container .container__logo {
  width: 100%;
}

.footer .footer__container .container__logo .logo__bottom {
  width: 100%;
  max-width: 65px;
  margin-left: calc(50%-100px);
}

.footer .footer__container .container__copyright {
  color: black;
  font-size: 15px;
  width: 100%;
}

.footer .footer__container .container__social {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .wrapper .main {
    height: 200vh;
  }
  .wrapper .main .column1 {
    width: 100%;
    height: 50%;
  }
  .wrapper .main .column2 {
    width: 100%;
    height: 50%;
  }
  .wrapper .header .top .top__line3 .clock {
    justify-content: flex-start;
    align-items: stretch;
  }
  .wrapper .header .top .top__line3 .clock .days {
    width: 100%;
    padding: 1% 0 1% 0;
  }
  .wrapper .header .top .top__line3 .clock .hours {
    width: 100%;
    padding: 1% 0 1% 0;
  }
  .wrapper .header .top .top__line3 .clock .minutes {
    width: 100%;
    padding: 1% 0 1% 0;
  }
  .wrapper .header .top .top__line3 .clock .seconds {
    width: 100%;
    padding: 1% 0 1% 0;
  }
}

.toTop {
  position: sticky;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: blue;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 2px;
  /* Some padding */
  border-radius: 20px;
  /* Rounded corners */
  font-size: 20px;
  /* Increase font size */
  height: auto;
  float: right;
  box-shadow: 0 0 5px #333;
}

.toTop:hover {
  opacity: 0.7;
}

.container__social {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1% 0 1% 0;
}

._12 {
  font-size: 1.2em;
}

._14 {
  font-size: 1.4em;
}

ul {
  padding: 0;
  list-style: none;
}

.footer-social-icons {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.social-icon {
  color: #fff;
}

ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 50px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  padding: 10px 14px;
  transition: .5s;
  background-color: #322f30;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  padding: 10px 10px;
  transition: .5s;
  background-color: #322f30;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-youtube {
  padding: 10px 14px;
  transition: .5s;
  background-color: #322f30;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  padding: 10px 14px;
  transition: .5s;
  background-color: #322f30;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-github {
  padding: 10px 14px;
  transition: .5s;
  background-color: #322f30;
}

.fa-github:hover {
  background-color: #5a32a3;
}

.red {
  color: red;
}
