// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.wrapper {

    justify-content: center;
    align-items: center;
   font-family: $font-Lato;

    .nav {
        color:black;
        background-color: gray;
        font-size: 20px;
        @media (max-width: $sc) {     
            display: none;
            
        }
        .meniu {
            margin:5px 5px 5px 5px;
            }
    }

    .burger_container {
        width: 100%;
        display: none;
        background-color: gray;
        justify-content: center;
        align-items: center;
        
        @media (max-width: $sc) {
            display: block;
            text-align:right;
        }
        .burger {

            width: 35px;
            height: 5px;
            background-color: white;
            margin: 1px 10px 1px;
            margin-left: 80%;
            display: none;
            @media (max-width: $sc) {     
                display: inline-block;
                
            }
          
    }
    }


    .header {
        justify-content: center;
        align-items: center;
        display: flex;
        background: url(../img/cover.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:100vh;
       

        .top {
            font-size: 29px;
            text-align: center;
            width:80%;
            @media (max-width: $sc) {
                font-size: 20px;
            }

           .image__line{
               width: 100%;
               max-width: 65px;
               margin-left: calc(50%-100px);
               
           }
            .top__line1 {
                display: inline-block;
                font-size: 2em;
                width: 100%;
                text-transform: uppercase;
                font-weight: bold;
            }

            .top__line2 {
                display: inline-block;
                color:$btn_clr;
                width: 100%;
                font-size: 20px;
                text-transform:initial;
            }

            .top__line3 {
                display: inline-block;
                width: 100%;
                padding-bottom: 5%;
                padding-top: 5%;

                .clock {
                    color: white;
                    justify-content: center;
                    align-items: center;
                    font-size: 23px;
                    font-family: $font-Roboto;

                    .days {
                        width:20%;
                        display:inline-block;
                        
                    }
                    .hours {
                        width:20%;
                        display:inline-block;
                    }
                    .minutes {
                        width:20%;
                        display:inline-block;
                    }
                    .seconds {
                        width:20%;
                        display:inline-block;

                    }

                }
            }
              .subscribeForm {
                  width: 100%;
                  
                  .emailLine {
                    width: 50%;
                    border: 0;
                    outline: 0;
                    border-bottom: 2px solid $btn_clr;
                    background: transparent;
                    color: $btn_clr;
                    font-size: 20px;
                    text-align: center;
                    @media (max-width: $sc) {     
                        width: 80%;
                        
                    }

                  }
                  ::placeholder {
                    color: $btn_clr;
                    opacity: 1;
                  }


                  .subscribeButton {
                    
                    border-radius: 5%;
                    background-color: $btn_clr;
                    width:20%;
                    height: 30px;
                    box-shadow: 0 0 5px #333;
                    @media (max-width: $sc) {     
                        width: 60%;
                        
                    }
                    &:hover {
                        opacity: 0.7;
                    }

                    
                  }
              }  
              .moving-mouse-holder {
                margin: auto;
                margin-top: 60px;
                width: 26px;
                align-items: center;
                text-align: center;
                display: flex;
                margin-left: calc(50%-13px);
              }
              
              .moving-mouse-holder .mouse {
                width: 26px;
                height: 40px;
                position: relative;
                right: 0;
                border-radius: 18px;
                border: 2px solid #000000;
              }
              
              .moving-mouse-holder .mouse-button {
                background-color: #000000;
                width: 4px;
                height: 10px;
                border-radius: 2px;
                position: absolute;
                top: 10px;
                left: 50%;
                margin: 0 0 0 -2px;
                animation: mouse-scroll 1s infinite alternate;
              }
              
             
              
              @keyframes mouse-scroll {
                to {
                  transform: translate(0, 6px) scale(1, 0.8);
                }
              }
            
        }
            
        }


    .main {
        display:inline-block;
        font-size:30px;
        align-items: center;
        width:98%;
        margin: 1% 1% 1% 1%;
        // height:100vh;
        font-size: 20px;
        color: gray;

        .column1{
           float:left;
           width: 50%;
        //    height: 100%;
           
           padding:7% 7% 7% 7%;
           @media (max-width: $sc) {
            width:100%
        }
           }

           .heading {
               padding-bottom: 10%;
               font-weight: bold;
               text-transform: uppercase;
                
           }

           .parag {
               padding-bottom: 10%;
                
        }

        .progressBar {
    
            .progressTitle {
                display: inline-block;
                width: 50%;
                margin-bottom: 10px;
            }
        
            .progressPercentage {
                display: inline-block;
                width: 50%;
                text-align: right;
                margin-bottom: 10px;
            }
            .meter { 
                height: 5px;
                position: relative;
                background: #f3efe6;
                overflow: hidden;
                margin-bottom: 20px;
                border-radius: 10px;
        
            
                .progress {
                    background-color: $frm_clr;
                    animation: progressBar 3s ease-in-out;
                    animation-fill-mode:both; 
                }
            }
            
            .meter span {
                display: block;
                height: 100%;
            }
            
        }
        
        
        @keyframes progressBar {
          0% { width: 0; }
          100% { width: 100%; }
        }

        
        

        .column2{
            float:left;
            width: 50%;
            // height: 100%; 
            padding:7% 7% 7% 7%;
            @media (max-width: $sc) {
                width:100%
            }

            .fform {
                


                .line1 {
                    width: 100%;
                    float:left;
                    
                    font-size: 20px;
                    padding: 0px 0px 10px 0px;

                    .line1__input1 {
                        border-bottom: 2px solid $frm_clr;
                        width:48%;
                        float:left;
                        background-color: transparent;
                        @media (max-width: $sc) {     
                            width: 100%;
                            
                        }
                        
                    }   
                    
                    .line1__input2 {
                        border-bottom: 2px solid $frm_clr;
                        width:48%;
                        float:right;
                        background-color: transparent;
                        @media (max-width: $sc) {     
                            width: 100%;
                            padding-top: 15px;
                        }
                        
                    }    

                }


                .line2 {
                    width: 100%;
                    float:left;
                    
                    font-size: 20px;
                    padding: 0px 0px 10px 0px;

                    .line2__input {
                        border-bottom: 2px solid $frm_clr;
                        width: 100%;
                        float:left;
                        background-color: transparent;
                        
                        textarea {
                            -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
                            resize: vertical;
                            width: 100%;
                            max-width: 100%;
                            
                        }
                    }

                }

                
                .submitButton {
                    width: 50%;
                    float: right;
                    border-radius: 5%;
                    background-color: $frm_clr;
                    color: white;
                    height: 30px;
                    margin-top: 10px;
                    box-shadow: 0 0 5px #333;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

    .footer {
        text-align: center;
        justify-content: center;
        display:flex;
        font-size:30px;
        width:100%;
        height:250px;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,65,214,1) 91%);

        
        .footer__container {
            width: 80%;
            
            
        
            .container__logo {
                width: 100%;

                
                .logo__bottom {
                    width: 100%;
                    max-width: 65px;
                    margin-left: calc(50%-100px);
                }
            }
            .container__copyright {
                 color: black;
                 font-size:15px ;
                 width: 100%;
            }
            .container__social {
                width: 100%;
            }
        }
            }




.toTop {
    position: sticky; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    // z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: blue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 2px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
    height:auto;
    float:right;
    box-shadow: 0 0 5px #333;
    &:hover {
        opacity: 0.7;
    }
    

    
  }

  .container__social {
      width:100%;
     }




a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 100%;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 50px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}


.red {
    color:red;
}


