@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.wrapper {

    justify-content: center;
    align-items: center;
   


    .header {
        justify-content: center;
        align-items: center;
        display: flex;
        background: url(https://images.unsplash.com/photo-1569629743817-70d8db6c323b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1374&q=80) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:100vh;
       

        .top {
            font-size: 15px;
            text-align: center;
            font-family: 'Lato', sans-serif;

            .top__line1 {
                display: inline-block;
                font-size: 60px;
                width: 100%;
                text-transform: uppercase;
            }

            .top__line2 {
                display: inline-block;
                color:red;
                width: 100%;
                font-size: 20px;
            }

            .top__line3 {
                display: inline-block;
                width: 100%;
                padding-bottom: 5%;
                padding-top: 5%;

                .clock {
                    color: white;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;

                    .days {
                        width:20%;
                        display:inline-block;
                        
                    }
                    .hours {
                        width:20%;
                        display:inline-block;
                    }
                    .minutes {
                        width:20%;
                        display:inline-block;
                    }
                    .seconds {
                        width:20%;
                        display:inline-block;

                    }

                }
            }
              .subscribeForm {
                  width: 100%;
                  
                  .emailLine {
                    width: 50%;
                    border: 0;
                    outline: 0;
                    border-bottom: 2px solid red;
                    background: transparent;
                    color: red;
                    font-size: 20px;
                    
                    focus::placeholder {
                        color: transparent;
                      }

                  }
                  .subscribeButton {
                    
                    border-radius: 5%;
                    background-color: red;
                    width:20%;
                    height: 30px;
                    

                    
                  }
              }  
        }
            
        }


    .main {
        display:inline-block;
        font-size:30px;
        width:100%;
        height:100vh;
        font-size: 20px;
        color: gray;

        .column1{
           float:left;
           width: 50%;
           height: 100%;
           
           padding:7% 7% 7% 7%;
           
           }

           .heading {
               padding-bottom: 10%;
                
           }

           .parag {
               padding-bottom: 10%;
                
        }
        }

        .column2{
            float:left;
            width: 50%;
            height: 100%; 
            padding:7% 7% 7% 7%;
        }
    }

    .footer {

        display:inline-block;
        font-size:30px;
        width:100%;
        height:50vh;
        background-color: rgb(122, 255, 182);
            }



::placeholder {
    color: red;
    opacity: 1;
  }

  input:focus::placeholder {
    color: transparent;
  }


  @media only screen and (max-width: 550px) {  
      .wrapper {
          .main{
            height:200vh;
              .column1 {
                background-color: burlywood;
                width: 100%;
                height: 50%;
              }
              .column2 {
                background-color:cornflowerblue;
                width: 100%;
                height: 50%;
              }
          }
          .header {
              .top {
                  .top__line3 {
                    .clock {
                        justify-content:flex-start;
                        align-items: stretch;
                        .days {
                            width:100%;
                            padding:1% 0 1% 0;
                        }
                        .hours {
                            width:100%;
                            padding:1% 0 1% 0;
                        }
                        .minutes {
                            width:100%;
                            padding:1% 0 1% 0;
                        }
                        .seconds {
                            width:100%;
                            padding:1% 0 1% 0;
                        }
                    }
                  }
              }
          }
      }

}

#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }