.wrapper {

    justify-content: center;
    align-items: center;
   


    .header {
        width:100%;
        height:100vh;
        background: url("https://images.unsplash.com/photo-1569629743817-70d8db6c323b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1374&q=80");
        background-position: top center;
        justify-content: center;
        align-items: center;
        display: flex;
       

        .top {
            // display: inline-block;
            font-size: 30px;
            text-align: center;


            .top__line1 {
                display: inline-block;
                font-size: 100px;
                width: 100%;
                text-transform: uppercase;
            }

            .top__line2 {
                display: inline-block;
                color: gray;
                width: 100%;
            }

            .top__line3 {
                display: inline-block;
                width: 100%;
                padding-bottom: 5%;
                padding-top: 5%;

                .clock {
                    font-weight: bold;
                    color: white;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                        
                    .days {
                        width:20%;
                        float:left;
                    }
                    .hours {
                        width:20%;
                        float:left;
                    }
                    .minutes {
                        width:20%;
                        float:left;
                    }
                    .seconds {
                        width:20%;
                        float:left;

                    }

                }
            }
              .subscribeForm {
                  width: 100%;
                  
                  .emailLine {
                    width: 50%;
                    border: 0;
                    outline: 0;
                    border-bottom: 2px solid red;
                    background: transparent;
                    color: red;
                    font-size: 20px;
                    focus::placeholder {
                        color: transparent;
                      }

                  }
                  .subscribeButton {
                    border-radius: 5%;
                    background-color: red;
                    width:20%;

                    
                  }
              }  
        }
            
        }


    .main {
        display:inline-block;
        font-size:30px;
        width:100%;
        height:100vh;
        background-color: lightsalmon;

        .column1{
           float:left;
           width: 50%;
           height: 100%;
        }

        .column2{
            float:left;
            width: 50%;
            height: 100%; 
        }
    }

    .footer {

        display:inline-block;
        font-size:30px;
        width:100%;
        height:50vh;
        background-color: rgb(122, 255, 182);
            }
}


::placeholder {
    color: red;
    opacity: 1;
  }

  input:focus::placeholder {
    color: transparent;
  }